<div class="dashboard">

  <div class="bg-glow glow1"></div>
  <div class="bg-glow glow2"></div>

  <div class="header">

    <h1>

      Welcome Back,

      <span>

        {{userName}}

      </span>

      👋

    </h1>

    <p>

      AI Powered Resume Intelligence Platform

    </p>

  </div>

  <div class="cards">

    <div
      class="card">

      <h2>

        Resume Analysis

      </h2>

      <p>

        Upload resume and get ATS score

      </p>

      <button
        (click)="uploadResume()">

        Upload Resume

      </button>

    </div>

    <div
      class="card">

      <h2>

        AI Report

      </h2>

      <p>

        View generated AI insights

      </p>

      <button
        (click)="viewResult()">

        View Result

      </button>

    </div>

    <div
      class="card">

      <h2>

        Interview Preparation

      </h2>

      <p>

        20+ Questions Generated

      </p>

      <button>

        Ready

      </button>

    </div>

  </div>

</div>